:root{
--main-title-color:#FFFFFF;
--second-titel-color:#303030;
--main-text-color:#555555;
--second-text-color:#9DA4BD;
--accent-color:#FF6C00;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #A8C998;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
button{
    cursor: pointer;
}
.image{
    display: block;
    max-width: 100%;
}
.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.slogan{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, .6);
}
.title{
    margin-bottom: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: var(--second-titel-color);
}
.button{
    min-width: 160px;
    padding: 12px 20px;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button:hover,
.button:focus{
    color: var(--accent-color);
}
/* header */
.nav-list{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.header-nav{
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.nav-link{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.nav-list .item:not(:last-child){
    margin-right: 40px;
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}
.contact-list{
    margin-right: 0;
    margin-left: auto;
}
.nav-contact{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.nav-contact:hover,
.nav-contact:focus{
    color: var(--accent-color);
}
/* main */
/* hero */
.hero-section .conteiner{
    display: flex;
}
.hero-list{
    margin-right: 50px;
}
.hero-list .item{
    transform: rotate(-90deg);
}

.hero-right{
    flex-grow: 1;
    padding-top: 272px;
    padding-bottom: 206px;
    padding-left: 96px;
}
.hero-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}
.hero-link:hover,
.hero-link:focus{
    color: var(--accent-color);
}
.hero-slogan{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, .6);
}
.hero-title{
    margin-bottom: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
}
.hero-description{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
/* about us */
.about-section{
    padding-top: 139px;
    padding-bottom: 121px;
}
.about-section .conteiner{
    display: flex;
}
.about-list{
    display: flex;
}
.about-list .item:not(:last-child){
    margin-right: 30px;
}
.about-right{
    margin-left: 64px;
}
.about.slogan{
    color: #303030;
}
.about-description{
    color: var(--main-text-color);
}
.about-description.fisrt{
    font-size: 18px;
    line-height: 1.67
    letter-spacing: 0.02em;
}
.about-description.second{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}
.about.button{
    color: #303030;
}
/* price */
.price-section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.price.slogan{
    margin-left: 80px;
    margin-bottom: 20px;
}
.price.title{
    margin-bottom: 44px;
    color: var(--main-title-color);
}
.price-list{
    display: flex;
    margin-bottom: 50px;
}
.price-item{
    display: flex;
    justify-content: space-between;
}
.price-item:not(:last-child){
    margin-bottom: 20px;
}
.first-list,
.second-list{
    width: 50%;
    padding: 30px 40px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.price.button{
    display: block;
    margin: 0 auto;
}
/* why we */
.whywe-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.whywe-section .conteiner{
    display: flex;
}
.whywe-list{
    outline: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
}
.whywe-list .item{
    width: 170px;
    padding: 20px 24px;
    background-color: #F7F7F7;
}
.whywe-list .item:nth-child(2n + 1){
    margin-right: 30px;
}
.whywe-list .item:nth-last-child(-n + 2){
    margin-top: 30px;
} 
.result{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
}
.whywe.slogan{
    margin-left: 80px;
    margin-bottom: 20px;
    color: #303030;
}
.whywe-description{font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
/* masters */
.masters-section{
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #F7F7F7;
}
.masters.slogan{
    margin-left: 80px;
    margin-bottom: 20px;
    color: #303030;
}
.masters.title{
    margin-bottom: 20px;
}
.masters-list{
    display: flex;
    flex-wrap: wrap;
}
.master{
    margin-right: 30px;
    margin-bottom: 30px;
}
.master:nth-child(3n){
    margin-right: 0;
}
.master:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.master .content{
    padding-top: 30px;
    padding-bottom: 30px;
}
.masters-name{
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
}
.masters-job{
    margin-top: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/* galary */
.visually-hidden {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    position: absolute;
}
.galery-section{
    padding-top: 130px;
    padding-bottom: 130px;
}
.galery.slogan{
    margin-left: 100px;
    margin-bottom: 44px;
    color: #303030;
}
.galery-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
}
/* .galery-list .item:not(:last-child){
    margin-right: 30px;
} */
.galery-list .item{
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 30px;
    margin-right: 30px;
}
/* online */
.online.conteiner{
    display: flex;
    padding-bottom: 130px;
    padding-top: 130px;
}
.online .title,
.contacts .title{
    color: var(--main-title-color);
}
.contacts .title{
    margin-bottom: 40px;
}
/* address */
.address-link{
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.address-list .item:not(:last-child){
    margin-bottom: 20px;
}

.address-link:focus,
.address-link:hover{
    color: var(--accent-color);
}
.address-link.mail{
    text-decoration: underline;
}
.contacts-time.slogan{
    color: #ffffff;
}
.contacts-time{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
/* footer */
.copyright,
.footer-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--second-text-color);
}
.footer-link{
    color: #303030;
}
.footer-link:hover,
.footer-link:focus{
    color: var(--accent-color);
}